@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat';
}

html {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
}
.container {
  max-width: 1170px;
  margin: 0 auto;
}

/* Header */

.header {
  height: 100px;
  width: 100vw;
  background: unset;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  transition: 0.3s;
}
.header.active {
  background: black;
}
.header__content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
}
.header__burger-menu {
  display: none;
}
.header__nav {
  display: flex;
}
.header__link {
  margin-right: 15px;
  padding: 8px 16px;
  font-weight: 200;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  text-decoration: none;
  border: 1px solid #fff;
  border-radius: 100px;
  transition: 0.3s;
  cursor: pointer;
  list-style: none;
}
.header__link:last-child {
  margin-right: 0;
}
.header__link:hover {
  color: #e91d8f;
  border-color: #e91d8f;
}
.header__mobile {
  display: none;
}

/* Intro */

.intro {
  height: 100vh;
}
.intro__title-box {
  bottom: 150px;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.intro__title {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 50px;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.intro__logo {
  width: 300px;
}
.intro__subtitle {
  margin-top: 30px;
  font-weight: 700;
  font-size: 34px;
  line-height: 120%;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.intro__slide-img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

/* Production */

.production {
  margin-top: 152px;
  margin-bottom: 50px;
}
.production__title {
  max-width: 500px;
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  color: #000000;
}
.production__title > span {
  font-weight: 400;
}
.production__text {
  margin-top: 30px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}
.production__text > span {
  color: #e91d8f;
}
/* Technology */

.technology {
  padding-top: 55px;
  background: url(./assets/img/ramzik/technology.png) no-repeat center;
  background-size: cover;
  height: 668px;
}
.technology__title {
  margin-top: -30px;
  margin-bottom: 40px;
  text-align: center;
  font-weight: 600;
  font-size: 50px;
  line-height: 61px;
  color: #ffffff;
}
.technology__zone {
  background: rgba(0, 0, 0, 0.8);
  padding: 30px 0;
}
.technology__text {
  font-size: 18px;
  line-height: 22px;

  color: #ffffff;
}
.technology__text > span {
  color: #e91d8f;
}
.technology__subtitle {
  margin: 44px 0;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  color: #ffffff;
}
.technology__subtext {
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}

@media screen and (max-width: 1024px) {
  .container {
    max-width: none;
    padding: 16px;
  }
  /* Header */
  .header {
    height: auto;
  }

  .header__content {
    display: flex;
    justify-content: space-between;
    height: 40px;
  }
  .header__burger-menu {
    display: flex;
  }
  .header__burger-item {
    width: 30px;
    height: 2px;
    background: #fff;
    position: relative;
  }
  .header__burger-item::before {
    content: '';
    position: absolute;
    top: 10px;
    left: 0;
    display: block;
    width: 30px;
    height: 2px;
    background: #fff;
  }
  .header__burger-item::after {
    content: '';
    position: absolute;
    bottom: 10px;
    left: 0;
    display: block;
    width: 30px;
    height: 2px;
    background: #fff;
  }
  .header__content > .header__nav {
    display: none;
  }
  .header__mobile {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 100%;
    padding: 35px 16px;
    width: 100vw;
    height: 100vh;
    background-color: #000000;
    transition: 0.3s;
  }
  .header__mobile.active {
    right: 0%;
  }
  .header__mobile-burger-line {
    position: relative;
  }
  .header__mobile-burger-line::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 2px;
    background-color: #e91d8f;
    transform: rotate(45deg);
  }
  .header__mobile-burger-line::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 2px;
    background-color: #e91d8f;
    transform: rotate(-45deg);
  }
  .header__mobile > .header__nav {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
  }
  .header__link {
    margin-bottom: 25px;
    margin-right: 0;
  }
  .header__link:last-child {
    margin-bottom: 0;
  }
  /* Intro */
  .intro {
    height: auto;
  }
  .intro__title-box {
    bottom: 130px;
  }
  .intro__logo {
    width: 250px;
  }
  .intro__title {
    font-size: 30px;
  }

  .intro__subtitle {
    text-align: center;
    font-size: 22px;
    margin-top: 5px;
  }
  .intro__slide-img {
    width: 100%;
    height: 45vh;
  }

  /* Production */

  .production {
    margin-top: -100px;
  }
  .production__title {
    font-size: 35px;
  }
  .production__text {
    font-size: 15px;
  }
  /* Technology */
  .technology {
    height: auto;
  }
  .technology__title {
    font-size: 40px;
  }
  .technology__text {
    font-size: 16px;
  }
}

@media screen and (min-width: 480px) and (max-width: 769px) {
  .intro__title {
    font-size: 40px;
  }
  .intro__subtitle {
    font-size: 25px;
    max-width: 500px;
  }
  .intro__slide-img {
    height: 60vh;
  }
  .production__title {
    font-size: 40px;
  }
  .production__text {
    font-size: 17px;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .intro__title-box {
    bottom: 150px;
  }
  .intro__logo {
    width: 350px;
  }
  .intro__title {
    font-size: 45px;
  }
  .intro__subtitle {
    font-size: 35px;
  }
  .intro__slide-img {
    height: 90vh;
  }
  .production__title {
    font-size: 40px;
  }
  .production__text {
    font-size: 18px;
  }

  .technology__text {
    font-size: 17px;
  }
}
.products {
  margin-top: 30px;
  overflow-x: hidden;
}
.products__card {
  display: flex;
  gap: 100px;
  width: 90%;
  margin: 0 auto;
}
.products__card:first-child {
  margin-bottom: 50px;
}
.products__title {
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
}
.products__title span {
  color: #e91d8f;
}
.products__text {
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  margin-top: 40px;
}
.products__zone > .products__text {
  display: none;
}
@media screen and (max-width: 1024px) {
  .products__card {
    gap: 80px;
  }
  .products__title {
    font-size: 35px;
    line-height: 48px;
  }
  .products__text {
    font-size: 18px;
    line-height: 27px;
    margin-top: 30px;
  }
}
@media screen and (max-width: 768px) {
  .products__card {
    gap: 30px;
    width: 95%;
  }
  .products__img {
    max-height: 300px;
  }
  .products__title {
    font-size: 30px;
    line-height: 40px;
  }
  .products__text {
    font-size: 16px;
    line-height: 20px;
    margin-top: 30px;
  }
}
.advantages {
  overflow-x: hidden;
}
@media screen and (max-width: 480px) {
  /* .advantages {
    height: 1890px !important;
  } */
  .intro__title {
    bottom: 100px;
  }
  .intro__logo {
    height: 35px;
  }

  .products__zone > .products__text {
    display: block;
  }
  .products__box > .products__text {
    display: none;
  }
  .products__zone {
    display: flex;
    flex-direction: column;
  }
  .products__card {
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
  }
  .products__img {
    max-height: 250px;
    object-fit: contain;
  }
  .products__title {
    text-align: center;
    font-size: 25px;
    line-height: 35px;
  }
  .products__text {
    padding: 0px 20px;
    text-align: center;
    font-size: 18px;
    line-height: 22px;
    margin: 0 auto;
  }
}

.quality {
  margin-top: 80px;
}
.quality__title {
  font-weight: 500;
  font-size: 40px;
  line-height: 49px;
  text-align: center;
}
.quality__title span {
  font-weight: 600;
}
.quality__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  row-gap: 50px;
  margin-top: 70px;
}
.quality__box:nth-child(5) {
  grid-column: 1/3;
  max-width: 570px;
  margin: 0 auto;
}
.quality__box-title {
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
  margin-bottom: 20px;
}
.quality__box-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}
.quality__photos {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 80px;
}
.quality__photos img {
  max-width: 480px;
}
.quality__swiper {
  display: none !important;
}
.quality__swiper-wrapper {
  padding: 0px 0px 240px 0px;
}
.swiper-wrapper {
  width: 100%;
  padding-bottom: 50px;
}
.quality__swiper .swiper-pagination .swiper-pagination-bullet {
  width: 13px;
  height: 12px;
  display: inline-block;
  background: #e91d8f;
  margin: 0px 5px;
  border-radius: 20px;
  transition: opacity 0.5s, background-color 0.5s, width 0.5s;
  transition-delay: 0.5s, 0.5s, 0s;
}
.quality__swiper .swiper-pagination .swiper-pagination-bullet-active {
  background: #e91d8f;
  width: 30px;
  transition-delay: 0s;
}
@media screen and (max-width: 1200px) {
  .quality__content {
    display: grid;
    grid-template-columns: 45% 45%;
    justify-content: center;
  }
  .quality__photos img {
    max-width: 380px;
  }
}
@media screen and (max-width: 1024px) {
  .quality__title {
    font-size: 30px;
    line-height: 45px;
  }
  .quality__content {
    display: grid;
    grid-template-columns: 45% 45%;
    justify-content: center;
  }
  .quality__box-title {
    font-size: 26px;
    line-height: 30px;
    margin-bottom: 20px;
  }
  .quality__box-text {
    font-size: 18px;
    line-height: 20px;
  }
}
@media screen and (max-width: 768px) {
  .quality__title {
    font-size: 26px;
    line-height: 40px;
  }
  .quality__content {
    display: none;
  }
  .quality__swiper {
    display: block !important;
    margin-top: 50px;
    height: 335px;
  }
  .quality__box:nth-child(5) {
    max-width: 100%;
  }
  .quality__box-title {
    font-size: 26px;
    line-height: 30px;
    text-align: center;
  }
  .quality__box-text {
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    width: 98%;
    margin: 0 auto;
  }
  .quality__photos {
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  .quality__photos img {
    max-width: 70%;
  }
}

.comparison__content-title {
  margin-bottom: 9px;
  text-align: center;
  font-weight: 600;
  font-size: 35px;
}

.comparison__content-subtitle,
.comparison__content-text {
  font-size: 20px;
  line-height: 24px;
}

.comparison__content-table {
  margin: 50px 0px;
  border-collapse: collapse;
}

.comparison__content-table th,
.comparison__content-table td {
  border: 3px solid #e91d8f;
  padding: 20px;
}

.text-mark {
  color: #e91d8f;
}

.comparison__content-table th {
  background: #d9d9d9;
}

.comparison__content-table td {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.comparison__table-container {
  width: 100%;
  height: auto;
}

.comparison__container-table {
  overflow-x: auto;
}

.advantages {
  position: relative;
  margin-top: 56px;
  height: 1650px;
}

.advantages__box {
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 1200px;
  background-color: black;
  clip-path: polygon(0% 0%, 100% 0, 100% 70%, 50% 100%, 0 70%);
}

.advantages__content-title {
  margin: 64px 0px 23px 0px;
  font-weight: 500;
  font-size: 35px;

  color: #ffffff;
}

.advantages__image {
  width: 100%;
  height: 900px;
  object-fit: cover;
  position: absolute;
  z-index: 1;
  top: 700px;
}

.advantages__btn {
  position: absolute;
  left: 50%;
  top: 1560px;
  text-decoration: none;
  transform: translate(-50%, -50%);
  padding: 10px 25px;
  border: 3px solid #e91d8f;
  filter: drop-shadow(0px 4px 20px #e91d8f);
  border-radius: 20px;
  font-weight: 600;
  font-size: 36px;
  z-index: 5;
  color: #e91d8f;
  transition: all 0.3s ease;
}

.advantages__btn:hover {
  background-color: #e91d8f;
  color: #fff;
}

.advantages__content-wrapper {
  display: flex;
  flex-wrap: wrap;
  column-gap: 22px;
  row-gap: 45px;
}

.advantages__wrapper-box {
  max-width: 573px;
}

.advantages__wrapper-title,
.advantages__wrapper-subtitle {
  color: white;
}

.advantages__wrapper-title {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
}

.advantages__wrapper-subtitle {
  font-size: 20px;
}

.advantages__content-bottom {
  margin: 60px auto 0px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
}

.advantages__bottom-text {
  font-size: 20px;
  line-height: 24px;
  text-align: center;

  color: #ffffff;
}

@media screen and (max-width: 1200px) and (min-width: 800px) {
  .container {
    max-width: none;
    padding: 16px;
  }

  .advantages__content-title {
    text-align: center;
  }

  .advantages__box {
    height: 1400px;
    clip-path: polygon(0% 0%, 100% 0, 100% 80%, 50% 100%, 0 80%);
  }

  .advantages__image {
    height: 700px;
    top: 1000px;
  }

  .advantages__btn {
    top: 1650px;
  }

  .advantages__content-wrapper {
    justify-content: center;
  }

  .advantages__wrapper-box {
    max-width: 400px;
  }

  .advantages__wrapper-title {
    font-size: 22px;
    line-height: 22px;
  }
}

@media screen and (max-width: 855px) {
  .advantages__wrapper-box {
    max-width: 370px;
  }
}
@media screen and (max-width: 800px) and (min-width: 481px) {
  .container {
    max-width: none;
    padding: 16px;
  }

  .advantages__content-wrapper {
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
  }
  .advantages__content-title {
    margin: 30px 0px 20px 0px;
    text-align: center;
    font-size: 27px;
  }
  .advantages__wrapper-title {
    font-size: 22px;
  }

  .advantages__wrapper-box {
    max-width: 480px;
  }

  .advantages__wrapper-title,
  .advantages__wrapper-subtitle {
    text-align: center;
  }

  .advantages__box {
    height: 1900px;
    clip-path: polygon(0% 0%, 100% 0, 100% 90%, 50% 100%, 0 90%);
  }
  .advantages__image {
    height: 400px;
    top: 1680px;
  }
  .advantages__btn {
    top: 2050px;
    padding: 10px;
    border-radius: 10px;
    font-size: 25px;
  }
}

@media screen and (max-width: 420px) {
  .advantages__box {
    height: 1700px;
    clip-path: polygon(0% 0%, 100% 0, 100% 92%, 50% 100%, 0 92%);
  }
  .advantages__content-wrapper,
  .advantages__content-bottom,
  .advantages__content,
  .advantages__box {
    overflow: hidden;
  }

  .advantages__bottom-img {
    height: 80px;
  }

  .advantages__image {
    height: 250px;
    top: 1600px;
  }

  .advantages__btn {
    top: 1850px;
    font-size: 25px;
    border-radius: 10px;
    padding: 5px 10px;
  }
}
@media screen and (max-width: 360px) {
  .advantages__box {
    height: 1850px;
    clip-path: polygon(0% 0%, 100% 0, 100% 95%, 50% 100%, 0 95%);
  }
  .advantages__content-wrapper,
  .advantages__content-bottom,
  .advantages__content,
  .advantages__box {
    overflow: hidden;
  }
  .advantages__image {
    top: 1700px;
  }
  .advantages__btn {
    top: 1950px;
  }
  .comparison__content-table tr td {
    max-width: 140px;
    padding: 10px;
    font-size: 14px;
  }
}
.video {
  display: inline-block;
  background-color: black;
  width: 100%;
  max-height: 1100px;
}
.video__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin: 15% 0;
}
.video__youtube {
  width: 100%;
  height: 650px;
}
.video__btn {
  text-decoration: none;
  padding: 15px 35px;
  background-color: #e91d8f;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  transition: all 0.3s ease;
}
.video__btn:hover {
  background-color: #ffffff;
  color: #e91d8f;
}
@media screen and (max-width: 1200px) {
  .video__youtube {
    padding: 0 20px;
    max-width: 100%;
    max-height: 450px;
  }
}
@media screen and (max-width: 480px) {
  .video__content {
    gap: 10px;
    margin: 12% 0;
  }
  .video__youtube {
    padding: 0 10px;
    max-height: 350px;
  }
  .video__btn {
    padding: 10px 25px;
  }
}

.footer {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 160px;
}
.footer__contacts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 35px;
}
.footer__contact-link {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: black;
}
.footer__contact-text {
  font-weight: 500;
  font-size: 22px;
  line-height: 27px;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .footer__contact-link img {
    height: 35px;
  }
  .footer__contact-text {
    display: none;
    font-size: 18px;
    line-height: 20px;
  }
}
@media screen and (max-width: 480px) {
  .advantages__bottom-img {
    height: 100px;
  }
  .footer {
    height: 90px;
  }
  .footer__contacts {
    column-gap: 50px;
  }
  .container {
    max-width: none;
    padding: 16px;
    overflow: hidden;
  }

  .comparison__content-title {
    font-size: 22px;
  }

  .comparison__content-subtitle,
  .comparison__content-text {
    font-size: 16px;
    line-height: 20px;
  }

  .comparison__content-table {
    margin: 30px 0;
  }

  .comparison__content-table th,
  .comparison__content-table td {
    padding: 5px;
    max-width: 120px;
    font-size: 12px;
  }

  .advantages__content-title {
    margin: 48px 0 18px 0;
    font-size: 27px;
  }

  .advantages__image {
    max-width: 480px;
    object-fit: cover;
    height: 270px;
    top: 1800px;
  }

  .advantages__box {
    height: 1900px;
    clip-path: polygon(0% 0%, 100% 0, 100% 90%, 50% 100%, 0 90%);
  }
  .advantages__content-wrapper,
  .advantages__content-bottom,
  .advantages__content,
  .advantages__box {
    overflow: hidden;
  }

  .advantages__btn {
    top: 2020px;
    font-size: 30px;
  }

  .advantages__wrapper-title {
    font-size: 20px;
    line-height: 32px;
  }

  .advantages__wrapper-subtitle {
    font-size: 16px;
  }

  .advantages__bottom-text {
    font-size: 16px;
    line-height: 20px;
  }

  .comparison__container-table {
    width: 100%;
  }
  .quality__title {
    font-size: 24px;
    line-height: 30px;
  }
  .quality__swiper {
    margin-top: 30px;
    height: auto;
  }
  .quality__box:nth-child(5) {
    max-width: 100%;
  }
  .quality__box-title {
    font-size: 24px;
    line-height: 30px;
  }
  .quality__box-text {
    padding: 0 10px;
    font-size: 16px;
    line-height: 22px;
  }
  .quality__photos {
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  .quality__photos img {
    max-width: 80%;
  }
}

@media screen and (max-width: 390px) {
  .advantages {
    height: 2100px !important;
  }
}

.copyright {
  width: 100%;
  height: auto;
  background-color: #e91d8f;
}
.copyright__content {
  display: flex;
  justify-content: space-between;
}
.copyright__title,
.copyright__text {
  font-size: 12px;
  font-weight: 400;
  color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .copyright__content {
    padding: 10px 0px;
  }
  .copyright__title,
  .copyright__text {
    font-size: 14px;
  }
}
